@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --purple: #a729f5;
  --dark-navy: #313e51;
  --grey-navy: #3b4d66;
  --grey: #626c7f;
  --light-blue: #abc1e1;
  --light-grey: #f4f6fa;
  --white: #fff;
  --green: #26d782;
  --red: #ee5454;
}
* {
  font-family: "Rubik", sans-serif;
}

/* The switch - the box around the slider */
.switch {
  @apply relative inline-block w-[32px] h-[20px];
}

/* Hide default HTML checkbox */
.switch input {
  @apply opacity-0 w-0 h-0;
}

/* The slider */
.slider {
  @apply absolute cursor-pointer bg-[#ccc] transition-[0.4s] inset-0 before:absolute before:content-[""] before:h-[16px] before:w-[16px] before:bg-[white] before:transition-[0.4s] before:left-1 before:bottom-1;
  -webkit-transition: 0.4s;
}
.slider:before {
  -webkit-transition: 0.4s;
}
input:checked + .slider {
  @apply bg-[--purple] before:translate-x-[8px];
}
input:focus + .slider {
  @apply shadow-[0_0_1px_#2196F3];
}
input:checked + .slider:before {
  -webkit-transform: translateX(8px);
  -ms-transform: translateX(8px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
  -webkit-transform: translateY(2px);
}
